<mat-card [formGroup]="traitForm">
    <mat-card-header>
        <mat-card-title>Cooking</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
		<block-flow>
			<mat-card formGroupName="cost">
				<mat-card-header>
					<mat-card-title>Cost</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<block-flow>
						<block-row>
							<mat-form-field appearance="outline" floatLabel="always" color="accent">
								<mat-label>Basic Ingredients</mat-label>
								<input type="text" formControlName="basic" matInput>
							</mat-form-field>

							<mat-form-field appearance="outline" floatLabel="always" color="accent">
								<mat-label>Special Ingredients</mat-label>
								<input type="text" formControlName="special" matInput>
							</mat-form-field>
						</block-row>

						<mat-form-field appearance="outline" floatLabel="always" color="accent">
							<mat-label>Extra Effects</mat-label>
							<input type="text" formControlName="text" matInput>
						</mat-form-field>
					</block-flow>
				</mat-card-content>
			</mat-card>

			<mat-card formGroupName="crit_success">
				<mat-card-header>
					<mat-card-title>Critical Success</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<block-flow>
						<mat-form-field appearance="outline" floatLabel="always" color="accent">
							<mat-label>Extra Effects</mat-label>
							<input type="text" formControlName="text" matInput>
						</mat-form-field>
					</block-flow>
				</mat-card-content>
			</mat-card>

			<mat-card formGroupName="success">
				<mat-card-header>
					<mat-card-title>Success</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<block-flow>
						<mat-form-field appearance="outline" floatLabel="always" color="accent">
							<mat-label>Extra Effects</mat-label>
							<input type="text" formControlName="text" matInput>
						</mat-form-field>
					</block-flow>
				</mat-card-content>
			</mat-card>

			<mat-card formGroupName="crit_failure">
				<mat-card-header>
					<mat-card-title>Critical Failure</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<block-flow>
						<mat-form-field appearance="outline" floatLabel="always" color="accent">
							<mat-label>Extra Effects</mat-label>
							<input type="text" formControlName="text" matInput>
						</mat-form-field>
					</block-flow>
				</mat-card-content>
			</mat-card>
		</block-flow>

        <block-row>
            <button type="button" mat-stroked-button (click)="destroy()">Remove Cooking</button>
        </block-row>
    </mat-card-content>
</mat-card>