<mat-card>
    <mat-card-header>
        <mat-card-title>Text Trait</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <block-row>
            <mat-form-field appearance="outline" floatLabel="always" color="accent">
                <mat-label>Text</mat-label>
                <textarea type="text" formControlName="text" matInput></textarea>
            </mat-form-field>
        </block-row>

        <block-row>
            <button type="button" mat-stroked-button>Remove Text</button>
        </block-row>
    </mat-card-content>
</mat-card>