
<mat-button-toggle-group [formControl]="currentSampleControl" (change)="loadSampleData()" [hideSingleSelectionIndicator]="true">
	<mat-button-toggle value="empty">Empty</mat-button-toggle>
	<mat-button-toggle value="project 1">Project 1</mat-button-toggle>
	<mat-button-toggle value="project 2">Project 2</mat-button-toggle>
	<mat-button-toggle value="item">Item</mat-button-toggle>
	<mat-button-toggle value="hunting">Hunting</mat-button-toggle>
	<mat-button-toggle value="cooking">Cooking</mat-button-toggle>
</mat-button-toggle-group>

<form [formGroup]="cardForm" (ngSubmit)="onFormSubmit()">
	<mat-card>
		<mat-card-header>
			<mat-card-title>Information</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<block-flow>
				<block-row>
					<mat-form-field formGroupName="base" appearance="outline" floatLabel="always" color="accent" fill="4">
						<mat-label>Name</mat-label>
						<input type="text" formControlName="name" matInput>
					</mat-form-field>
				</block-row>
				<block-row>
					<mat-form-field formGroupName="base" appearance="outline" floatLabel="always" color="accent">
						<mat-label>Size</mat-label>
						<mat-select formControlName="size">
							<mat-option value="normal">Normal</mat-option>
							<mat-option value="small">Small</mat-option>
						</mat-select>
					</mat-form-field>

					<mat-form-field formGroupName="base" appearance="outline" floatLabel="always" color="accent">
						<mat-label>Color</mat-label>
						<mat-select formControlName="color">
							<mat-option value="red">Red (Spells)</mat-option>
							<mat-option value="blue">Blue (Items)</mat-option>
							<mat-option value="green">Green (Monsters)</mat-option>
							<mat-option value="yellow">Yellow (Projects)</mat-option>
							<mat-option value="purple">Purple (Formulas)</mat-option>
							<mat-option value="cyan">Cyan (Handouts)</mat-option>
							<mat-option value="grey">Grey (Goods)</mat-option>
						</mat-select>
					</mat-form-field>
				</block-row>
			</block-flow>
		</mat-card-content>
	</mat-card>

	<mat-card>
		<mat-card-header>
			<mat-card-title>Header</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<block-flow>
				<ng-container formArrayName="header" *ngFor="let row of getFormArray('header')?.controls; let i = index">
					<mat-card>
						<mat-card-content>
							<ng-container [formArrayName]="i" *ngFor="let row of getFormArray('header.'+i)?.controls; let ii = index">
								<block-row [formGroupName]="ii">
									<mat-form-field appearance="outline" floatLabel="always" color="accent">
										<mat-label>Name</mat-label>
										<input type="text" formControlName="name" matInput>
									</mat-form-field>
									<mat-form-field appearance="outline" floatLabel="always" color="accent">
										<mat-label>Value</mat-label>
										<input type="text" formControlName="value" matInput>
									</mat-form-field>
									<mat-form-field appearance="outline" floatLabel="always" color="accent">
										<mat-label>Action</mat-label>
										<input type="text" formControlName="action" matInput>
									</mat-form-field>
									<button type="button" mat-stroked-button (click)="removeFormArray('header.'+i, ii)">Remove</button>
								</block-row>
							</ng-container>

							<block-row>
								<button type="button" (click)="addFormArray('header.'+i, 'headerRow')" mat-stroked-button>Add new line</button>
								<button type="button" (click)="removeFormArray('header', i)" mat-stroked-button>Remove Row</button>
							</block-row>
						</mat-card-content>
					</mat-card>
				</ng-container>

				<block-row>
					<button type="button" (click)="addFormArray('header', 'header')" mat-stroked-button>Add new row</button>
				</block-row>
			</block-flow>
		</mat-card-content>
	</mat-card>
	
	<mat-card>
		<mat-card-header>
			<mat-card-title>Traits</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<block-flow>
				<block-row>
					<mat-form-field appearance="outline" floatLabel="always" color="accent">
						<mat-label>Add Trait</mat-label>
						<mat-select [formControl]="traitSearch" (selectionChange)="onAddTrait($event)" #singleSelect>
							<mat-option>
							  <ngx-mat-select-search [formControl]="traitSearchField" placeholderLabel="Search traits" noEntriesFoundLabel="No traits found"></ngx-mat-select-search>
							</mat-option>
							<mat-optgroup *ngFor="let group of filteredTraits | async" [label]="group.label">
								<mat-option
									*ngFor="let trait of group.traits"
									[disabled]="cardForm.get('traits')?.value.includes(trait)"
									[value]="trait"
								>{{trait.name|titlecase}}</mat-option>
							</mat-optgroup>
						</mat-select>
					</mat-form-field>
				</block-row>
				<mat-chip-set>
					<mat-chip *ngFor="let trait of cardForm.get('traits')?.value" (removed)="onRemoveTrait(trait)" [ngStyle]="{'background-color': trait.getColor()}">
						{{trait.name|titlecase}}
						<mat-icon matChipRemove >cancel</mat-icon>
					</mat-chip>
				</mat-chip-set>
			</block-flow>
		</mat-card-content>
	</mat-card>

	<mat-card>
		<mat-card-header>
			<mat-card-title>Body</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<block-flow>
				<ng-container #bodyContentContainer></ng-container>

				<block-row>
					<button
						type="button"
						*ngFor="let component of formLayout.body"
						(click)="addComponent('body', component)"
						mat-stroked-button
					>{{component.traitName | titlecase}}</button>
				</block-row>
			</block-flow>
		</mat-card-content>
	</mat-card>

	<mat-card>
		<mat-card-header>
			<mat-card-title>Footer</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<block-flow>
				<ng-container #footerContentContainer></ng-container>

				<block-row>
					<button
						type="button"
						*ngFor="let component of formLayout.footer"
						(click)="addComponent('footer', component)"
						mat-stroked-button
					>{{component.traitName | titlecase}}</button>
				</block-row>
			</block-flow>
		</mat-card-content>
	</mat-card>

	<block-row>
		<button value="save" mat-stroked-button>Update Card</button>
		<button type="button" mat-stroked-button (click)="onExport()">Export</button>
		<button type="button" mat-stroked-button (click)="onImport()">Import</button>
	</block-row>
</form>