::ng-deep {
    .mat-mdc-card {
        $lighting-step: 5;

        background-color: lighten($color: #424242, $amount: $lighting-step * 0);
        
        .mat-mdc-card {
            background-color: lighten($color: #424242, $amount: $lighting-step * 1);
            
            .mat-mdc-card {
                background-color: lighten($color: #424242, $amount: $lighting-step * 2);
            }
        }
    }
}