::ng-deep {
    .mat-mdc-card {
        background-color: lighten($color: #424242, $amount: 0);
        
        .mat-mdc-card {
            background-color: lighten($color: #424242, $amount: 10);
            
            .mat-mdc-card {
                background-color: lighten($color: #424242, $amount: 20);
            }
        }
    }
}