html,body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #222;
    color: #fff;
}

@import './palette';


@font-face {
    font-family: 'GoodPro';
    src: url('/assets/fonts/GoodPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GoodPro-Bold';
    src: url('/assets/fonts/GoodPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GoodPro-Italic';
    src: url('/assets/fonts/GoodPro-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GoodPro-CondBold';
    src: url('/assets/fonts/GoodPro-CondBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PF2-Action';
    src: url('/assets/fonts/PF2-Action.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Variables */
html {
	--spacing: 8px;
	--spacing-half: 4px;
}

form {
	mat-form-field {
		width: 100%;

		.mat-mdc-form-field-subscript-wrapper {
			display: none;
		}

		input:read-only {
			pointer-events: none;
		}
	}

    .mat-mdc-button-base {
        height: 100%;
        min-height: 40px;
    }
	
	textarea {
        min-height: 100px;
		resize: none !important;
	}
}